.header {
  height: 100vh;
  background:linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.301)), url("https://scontent.fhyd7-1.fna.fbcdn.net/v/t39.30808-6/304188751_456548856494279_4979900744243005406_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=jTqUhL0Qv3sQ7kNvgH-7SCE&_nc_ht=scontent.fhyd7-1.fna&oh=00_AfBp2fsEkTuWmsPSLhcEaOqC3SGekrSjBWi2RLhM2NAKlQ&oe=663D4106");
  background-size: cover;
}
.header-contents {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.9vw;
  max-width: 35%;
  bottom: 9%;
  left: 5vw;
  animation: fadeIn 3s;
}
.header-contents h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 22px);
}
.header-contents p {
  color: white;
  font-size: 1.2vw;
}
.header-contents button {
  border: none;
  color: #747474;
  font-weight: 500;
  padding: 1vw 2.3vw;
  background-color: white;
  font-size: max(1vw, 13px);
  border-radius: 50px;
}
.header-contents button:hover {
  background-color: #fff4f2;
  transform: scale(1.05);
}

@media (max-width: 1050px) {
  .header {
    height: 30vh;
    background-size: contain;
    background-position: bottom;
  }
  .header-contents {
    max-width: 45%;
    gap: 1.3vw;
  }
}

@media (max-width: 750px) {
  .header-contents {
    bottom: 70%;
    left: 5vw;
  }
  .header-contents h2 {
    font-size: max(4.5vw, 15px);
  }
  .header-contents p {
    display: none;
  }
  .header-contents button {
    padding: 1.5vw 2vw;
    font-size: max(1vw, 12px);
  }
}
